<div id="<%= dom_id ticket %>">

  <p>
    <strong>Imie:</strong>
    <%= @first_name %>
  </p>

  <p>
    <strong>Nazwisko:</strong>
    <%= @last_name %>
  </p>

  <p>
    <strong>Data utworzenia:</strong>
    <%= ticket.created_at %>
  </p>

  <p>
    <strong>Data modyfikacji:</strong>
    <%= ticket.updated_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= ticket.image %>
  </p>

</div>
